.menu {
    padding: 20px;
    height: 100%;
    overflow: auto;

    .grid-options {
        .option-heading {
            margin-right: 15px;
        }

        .grid-sizes {
            margin-bottom: 0px;
        }
        
    }

    .crime-options {

        #load-crimes {
            i {
                transform-origin:50% 50%;
                animation: spin 1s infinite linear;
            }

            @keyframes spin {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
        }

        .type-filters {

            label {
                font-size: 0.9em;
            }
        }
    }


}
