#menu {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    background: white;
    font-family: sans-serif;
    padding: 20px;
    border-radius: 3px;
    height: 400px;
    overflow: auto;

    #load-crimes {
        i {
            transform-origin:50% 50%;
            animation: spin 1s infinite linear;
        }

        @-moz-keyframes spin {
          from {
            -moz-transform: rotate(0deg);
          }
          to {
            -moz-transform: rotate(360deg);
          }
        }

        @-webkit-keyframes spin {
          from {
            -webkit-transform: rotate(0deg);
          }
          to {
            -webkit-transform: rotate(360deg);
          }
        }

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
    }
}
