#menu {
    position: absolute;
    z-index: 1;
    background: white;
    font-family: sans-serif;
    padding: 20px;
    border-radius: 3px;
    height: 100%;
    overflow: auto;
    width: 400px;

    .crime-options {

        #load-crimes {
            i {
                transform-origin:50% 50%;
                animation: spin 1s infinite linear;
            }

            @keyframes spin {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
        }

        .type-filters {

            label {
                font-size: 0.9em;
            }
        }
    }


}
