@import 'materialize';
@import '../../crimeprediction/scss/map/map';
@import '../../crimeprediction/scss/map/menu';
@import '../../crimeprediction/scss/home/home';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}