nav.home-nav {
    i.left {
        margin-right: 0px;
    }
}

.row.map-list {
    .col {
        margin: 0 auto; 
    }
}

#map-popup{
    .city {
        cursor: pointer;
    }
}

.modal {
    .modal-footer {
        .btn {
            margin: 0px 2px;
        }
    }
}