<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %} Crime Modelling and Prediction {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
    {% block page_css %}
    {% endblock %}
  </head>
  <body>
    {% block page_content %}{% endblock %}
  </body>
  <script src="{{ STATIC_URL }}js/lib/jquery-1.11.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/materialize.min.js"></script>
  <script src="{{ STATIC_URL }}js/lib/require.js"></script>
  <script src="{{ STATIC_URL }}js/lib/require-config.js"></script>
  {% block page_javascript %}{% endblock %}
</html>
